<div class="boxMatchHistory">
    <div class="row">
        <div class="col-4 text-center">
            <p>Winner</p>
            <ul id="winnerUsername" class="list-group"></ul>
        </div>
        <div class="col-2 text-center">
            <p>Score</p>
            <ul id="winnerScore" class="list-group"></ul>
        </div>
        <div class="col-4 text-center">
            <p>Loser</p>
            <ul id="loserUsername" class="list-group"></ul>
        </div>
        <div class="col-2 text-center">
            <p>Score</p>
            <ul id="loserScore" class="list-group"></ul>
        </div>
    </div>
</div>
