@media only screen and (max-width: 767px) {
    #left-column {
        display: none;
    }
    .buttonResponsive {
        max-height: 40px;
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    #left-column {
        display: block;
    }
    #right-column {
        display: block !important;
    }
    .buttonResponsive {
        display: none;
    }
}

.fill {
    height: 100%;
}

.userList {
    height: 100%;
}

.rightPartCol {
    height: 100vh;
}

.displayUserButton {
    position: absolute;
    height: 40px;
    width: 40px;
}

#divGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divFill {
    height: calc(100% - 82px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.active-dark {
    background-color: var(--bg-accent) !important;
    color: #ffffff !important;
}
.show {
    display: block !important;
}

.bg-main-second {
    background-color: var(--bg-main-second);
}

.bg-main {
    background-color: var(--bg-main);
}

.textWhite {
    color: white !important;
}

.btn-primary {
    background-color: var(--bg-main-second) !important;
    border-color: var(--bg-main-second) !important;
}

.btn-primary:hover {
    background-color: var(--bg-accent) !important;
    border-color: var(--bg-accent) !important;
}

.hover-row:hover {
    background-color: #e9ecef;
    cursor: default
    /* cursor: pointer; */
}

/* Illisible avec des couleurs la*/

/* .modal-header {
    background-color: var(--bg-accent);
}

.modal-body {
    background-color: var(--bg-accent);
}

.modal-footer {
    background-color: var(--bg-accent) !important;
} */

#lfp {
    font-size: 2rem;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
