.userList {
    background-color: black;
    opacity: 85%;
}

.rightPartCol {
    height: 100vh;
}

.displayUserButton {
    position: absolute;
    height: 40px;
    width: 40px;
}

.hide {
    display: none;
}
