.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    width: 80%;
    max-width: 350px;
    border-radius: 5%;
}

.loginButton {
    width: 100%;
}

.linkHover {
    cursor: pointer;
}

.fixed-bottom-left {
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 1rem; /* Distance from the bottom */
    left: 1rem; /* Distance from the left */
}

.textWhite {
    color: white;
}

.link-secondary {
    color: white !important;
}

#login-div {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
