img.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
