img.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

#left-column {
    transition: all 0.3s ease;
}

.hidden-left {
    transform: translateX(-100%);
}

.show-left {
    transform: translateX(100%);
}

/* Adjust the background image styles */
.background-image {
    position: relative;
    height: 100%; /* Make sure it covers the entire height of the right section */
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust the opacity as needed */
}

/* User card styles */
.user-card {
    /* position: absolute; */
    padding: 20px; /* Adjust the padding as needed */
    background-color: var(--bg-main-second);
    /* Semi-transparent white background */
    border-radius: 10px;
}
#contentContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: calc(100% - 56px);
    overflow: visible;
}
