#id-modal-content {
    color: black;
}

#id-modal-title {
    color: black;
}

.hover-pointer:hover {
    cursor: pointer;
}

.current-info {
    background-color: #e0e0e0;
    padding: 8px;
    border-radius: 4px;
}

.card:hover {
    background-color: #f05941 !important;
}

.card {
    transition: 0.25s;
}
