<div class="m-0 p-0">
    <!-- Top part with round profile picture -->
    <div class="d-flex align-items-center mb-3">
        <img
            src="https://png.pngtree.com/png-clipart/20190904/ourmid/pngtree-80-3d-text-png-image_18456.jpg"
            alt="User Image"
            class="rounded-circle"
            id="avatar-img"
            width="50"
            height="50"
        />
        <div id="nickname" class="ms-3">
            <h5>nickname</h5>
        </div>
    </div>

    <!-- Stats section -->
    <div class="text-center">
        <!-- Wins -->
        <div
            class="d-flex justify-content-between align-items-center"
        >
            <h6>Wins</h6>
            <p id="wins">0</p>
        </div>

        <!-- Losses -->
        <div
            class="d-flex justify-content-between align-items-center"
        >
            <h6>Losses</h6>
            <p id="losses">0</p>
        </div>

        <!-- Games Played -->
        <div
            class="d-flex justify-content-between align-items-center"
        >
            <h6>Games Played</h6>
            <p id="game-played">0</p>
        </div>
    </div>

    <!-- Settings button -->
    <div class="mt-3">
        <button id="settingsButton" type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <i class="fa fa-gear me-1"></i>
            Settings
        </button>
        <button id="logout" class="btn btn-danger btn-sm">
            <i class="fa fa-sign-out"></i>
            Logout
        </button>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 id="id-modal-title" class="modal-title w-100">Settings</h5>
                </div>
                <div id="id-modal-content" class="modal-body">
                    <!-- Display Current Nickname -->
                    <div class="mb-3 row">
                        <label for="currentNickname" class="col-form-label col-2">Nickname:</label>
                        <div class="col-8 d-flex align-items-center">
                            <p id="currentNickname" class="mb-0 mr-2">Dave</p>
                            <a class="ms-auto hover-pointer">Change Nickname</a>
                        </div>
                    </div>
                    <!-- Display Current Password -->
                    <div class="mb-3 row">
                        <label for="currentPassword" class="col-form-label col-2">Password:</label>
                        <div class="col-8 d-flex align-items-center">
                            <p id="currentPassword" class="mb-0 mr-2">********</p>
                            <a class="ms-auto hover-pointer">Change Password</a>
                        </div>
                    </div>

                    <!-- Enable 2FA as a green button -->
                    <div class="mb-3 row">
                        <label for="current2FA" class="col-form-label col-2">2FA:</label>
                        <div class="col-8 d-flex align-items-center">
                            <button type="button" class="btn btn-danger ms-auto">
                                Disable
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

