<nav id="navbar" class="d-none navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand nav-link" href="#" data-route="/">Your App Name</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" data-route="/home" class="nav-link" id="homeLink"
                    >Home</a
                >
            </li>
            <li class="nav-item">
                <a href="#" data-route="/user" class="nav-link" id="userLink"
                    >User</a
                >
            </li>
            <li class="nav-item">
                <a href="#" data-route="/about" class="nav-link" id="aboutLink"
                    >About</a
                >
            </li>
            <li class="nav-item">
                <a
                    href="#"
                    data-route="/game_page"
                    class="nav-link"
                    id="aboutGame"
                    >Game</a
                >
            </li>
            <li class="nav-item">
                <a href="#" data-route="/login" class="nav-link" id="loginLink"
                    >Login</a
                >
            </li>
            <li class="nav-item">
                <a
                    href="#"
                    data-route="/signUp"
                    class="nav-link"
                    id="signUpLink"
                    >signUp</a
                >
            </li>
            <li class="nav-item">
                <a
                    href="#"
                    data-route="/socket"
                    class="nav-link"
                    id="socketlink"
                    >socket</a
                >
            </li>
        </ul>
    </div>
</nav>
