<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
    <div class="toast-header">
        <img id="toast-img" width="25" height="25" src="../../../public/80-percent.jpeg" class="rounded me-2" alt="...">
        <strong id="toast-title" class="me-auto">Bootstrap</strong>
        <small id="timeSinceToast" class="text-muted"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="toast-content" class="toast-body">
        <div id="msg-toast">
            80% is enough for me
        </div>
        <small id="toast-displaySocial" class="d-none">
            Click here to open Social Menu
        </small>
    </div>
</div>