<div id="matchInfoTemplate" class="row text-center hover-row">
    <div id="otherDateOfMatch" class="col">
        <p class="mt-2 mb-2">Loading...</p>
    </div>
    <div id="otherWinnerUsername" class="col">
        <p class="mt-2 mb-2">Loading...</p>
    </div>
    <div id="otherWinnerScore" class="col">
        <p class="mt-2 mb-2">Loading...</p>
    </div>
    <div id="otherLoserUsername"class="col">
        <p class="mt-2 mb-2">Loading...</p>
    </div>
    <div id="otherLoserScore" class="col">
        <p class="mt-2 mb-2">Loading...</p>
    </div>
</div>